.spot-details-container {
  display: grid;
  max-width: 1140px; 
  margin: 0 auto;
  padding: 1rem;
}

.images-container {
  height: 460px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.large-img-container,
.small-img-container {
  width: 100%;
  height: 100%;
}

.small-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 0.5rem; 
}

.large-img-container img,
.small-img-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px; 
}

.small-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; 
}

.spot-details-contailer h2,
.spot-details-contailer h4 {
  margin-top: 0;
}

.spot-details-container h2 {
  margin-bottom: 15px
}

.spot-details-contailer p {
  margin-top: 0;
}

#detail-reserve {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items:center;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

.reserve-container {
  display: grid;
  justify-self: end;
  gap: 20px 0;
  width: 300px;
  padding: 24px 0px;
  align-items:center;
  justify-content: center;
  border-radius: 6px; 
  background-color: white;
  box-shadow: 2px 1px 20px 5px lightgray;
  margin-left: 18px;
}

.rating-review .fa-star {
  margin-right: 3px;
}

.rating-review {
  font-size: 13px;
  margin-left: 40px
}

.price {
  font-size: 18px; 
  font-weight: bold;
}
  
  button {
    padding: 0.5rem 1rem;
    background-color: #ff5a5f; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  

@media (max-width: 750px) {
  .images-container {
    grid-template-columns: 1fr; 
    height: auto; 
  }

  .small-img-container {
    display: none; /* Hide small images */
  }

  .large-img-container img {
    height: auto; 
  }
}

@media (max-width: 980px) {
  .images-container {
    height: auto; 
  }

  .large-img-container,
  .small-img-container {
    height: auto; 
  }
}