.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

#profile-button {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: flex-start;
    height: 45px;
    width: 80px;
    padding: 8px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 20px;
}

#profile-button:hover {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

#profile-button i {
  font-size: 15px;
} 

#profile-button i:last-of-type {
  font-size: 30px;
  color:gray
}