.hidden {
  display: none;
}

#navbar {
  padding: 0px 4%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid  #F3F3F3;
  align-items: center;
}

#navbar h1 {
  color: #ff690f;
  margin: 0
}

#create-spot {
  margin-right: 15px;
  justify-content: center;
  height: 45px;
  width: 165px;
  justify-content: center;
  background-color: transparent;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bolder;
}

#create-spot:hover {
  background-color: #F0F3F5;
}

